/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
    .left, .main, .right {
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

.fully-loaded-site{
    max-width: 1280px;
    margin:auto;
    background-color: white;
}

.image1{
    text-align: center;
}

.footer{
    width: 1280px;
    height: 200px;
    background-color:black;
}

.icon-window{
    height: 100%;
}

.Footer-plug-ins{
    width: 1210px;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
}

.thank-you-message{
    text-align: center;
    color: white;
}

.icon-list{
    width: 100%;
}

.svg-container{
    text-align: center;
}

.icons-bar{
    text-align: center;
}